@import "main.css";

/* Images (A) */
header {
  /* background-color: hsla(0, 0%, 0%, 0.35); */
  background-image: url(../img/helena-lopes-QpjyqYy5R-U-unsplash.jpg);
}

/* ---------------------
Main
--------------------- */

main section:first-child {
  margin-block-end: 6rem;
}

main .chatori,
main .aditya {
  /* background-color: hsl(0, 0%, 37%); */
  background-color: hsl(var(--ch-dark), 25%);
  background-blend-mode: multiply;
  height: 350px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-block-end: 1rem;
}

main .chatori {
  background-image: url(../img/About/toa-heftiba-50ijCEHhN8o-unsplash.jpg);
}

main .aditya {
  background-image: url(../img/About/petr-sevcovic-e5Q5vWO55uU-unsplash.jpg);
}

/* ---------------------
@Media
--------------------- */

@media screen and (min-width: 768px) {
  main .about {
    display: grid;
    grid-template-columns: repeat(3, 1fr) 50%;
    grid-template-rows: 1fr 3fr;
    gap: 1rem;
  }

  .aditya,
  .chatori {
    grid-column: 1 / 4;
    grid-row: 1 / -1;
  }
  .aditya + h4 {
    grid-column: 4 / 5;
  }
  .story-chatori,
  main .about p {
    padding-inline: 0.75rem;
    display: flex;
    align-items: center;
    background-color: hsla(var(--ch-supreme-light), 85%);
    /* background-blend-mode: luminosity; */
    color: hsla(var(--ch-dark));

    border-radius: 0.5rem;
    grid-column: 3 / -1;
    grid-row: 2 / 3;

    box-shadow: 0.1rem 0.1rem 2rem hsl(var(--ch-dark), 10%);
  }
}
