@import "main.css";

.container {
  padding-inline: 0.75rem;
}

.navbar {
  z-index: 10000;
}

/* Images (A) */
header {
  /* background-color: hsla(0, 0%, 0%, 0.4); */
  background-image: url(../img/ayrus-hill-QIPpS02wKX4-unsplash.jpg);
}

/* -------------------------
        events - Main 
------------------------- */

.request-form {
  max-width: 36rem;
  margin-inline: auto;
}

.request-form h4 {
  margin-block-end: 0;
  padding-block-end: 2rem;
}

form > input {
  margin-block-start: 1rem;
}

.input-group {
  margin-block: 2rem;
}

/* Font (C) */
main h3 {
  font-weight: 500;
  text-align: center;
}

main section {
  margin-block-end: 8rem;
}

main section:last-child {
  margin-block-end: 0;
}

.gallery > .grid-gal {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}

.grid-gal > figure {
  aspect-ratio: 1 / 1;
  display: grid;
  align-items: center;
  justify-content: center;
  border-radius: 0.8rem;
  overflow: hidden;
}

.grid-gal > figure img {
  aspect-ratio: 1 / 1;
  object-fit: cover;
  transition: all 0.7s ease-in;
}

.grid-gal > figure:hover img {
  transform: scale(1.1);
}
