:root {
  --bg-color: 235, 100%, 99%;
  --ch-dark: 235, 83%, 25%;
  --ch-medium: 235, 45%, 64%;
  --ch-light: 236, 42%, 75%;
  --ch-med-light: 235, 48%, 90%;
  --ch-extra-light: 235, 65%, 85%;
  --ch-supreme-light: 235, 100%, 98%;
  --logo-color: 25, 82%, 49%;

  scroll-behavior: smooth;
}

* {
  /* 240, 100%, 99% */
  font-family: "Josefin Sans", "Avenir", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 100%;
  box-sizing: border-box;
}

body {
  background-color: hsla(var(--bg-color));
}

/* Utilities */

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  text-transform: uppercase;
  margin-block-end: 1.5rem;
}

p {
  font-size: 1rem;
  letter-spacing: 1.5px;
  line-height: 1.5;
  margin-block-end: 1rem;
}

a {
  font-size: 1rem;
  text-decoration: none;
  letter-spacing: 1px;
}

small {
  font-size: 0.8rem;
  letter-spacing: 2px;
}

img {
  display: block;
  width: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-inline: 0.75rem;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col {
  flex-direction: column;
  gap: 0.5rem;
}

.flex-bas-60 {
  flex-basis: 60%;
}

.flex-bas-40 {
  flex-basis: 40%;
}

.btn {
  display: inline-block;
  padding-block: 0.5rem;
  padding-inline: 1rem;
  border: 2px solid hsla(var(--logo-color));
}

/* -------------------------
          Header
   ------------------------- */

/* Navigation */

header {
  background-color: hsla(0, 0%, 0%, 0.3);
  background-image: url(../img/todd-quackenbush-x5SRhkFajrA-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-blend-mode: multiply;
  height: 100vh;
}

.logo {
  padding-block-start: max(1rem, 0.5rem);
}

.logo a {
  font-size: 3rem;
  color: hsla(var(--logo-color));
}

.navbar {
  background-color: hsla(var(--ch-dark), 0.5);
  padding-block: 0.5rem;
  position: fixed;
  /* left: 0; */
  width: 100%;
}
header ul {
  list-style: none;
  gap: 0.5rem;
}

header ul li {
  position: relative;
}

nav ul a {
  display: inline-block;
  font-size: 0.8rem;
  color: hsla(var(--ch-supreme-light));
  padding: 0.4rem 1.2rem;
  text-transform: uppercase;
}

/* Hero Content */

.hero-content {
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  gap: 2rem;
}

.hero-content h1 {
  color: hsla(var(--ch-extra-light));
  text-align: center;
}
.hero-content a {
  color: hsla(var(--ch-supreme-light));
}

/* -------------------------
          Footer
   ------------------------- */
footer {
  background-color: hsla(var(--ch-dark));
  text-align: center;
}

footer small {
  color: hsla(var(--bg-color));
}

footer div > ul {
  gap: 3rem;
}

footer .social-icon {
  font-size: 2rem;
  color: hsla(var(--ch-medium));
}

footer div.flex.flex-col {
  padding-block-start: 3rem;
  gap: 2rem;
}

footer p {
  margin-block-start: 2.5rem;
  margin-block-end: 0;
  padding-block-end: 0.4rem;
}

/* -------------------------
      menu - Main 
------------------------- */

main {
  padding-block: 6rem;
}

main article {
  margin-block-end: 6rem;
  width: 100%;
}

main article:last-child {
  margin-block-end: 0rem;
}

main article h3 {
  font-weight: 500;
  text-align: center;
  margin-block-end: 2rem;
}

main article p {
  width: 80%;
}

.menu-item {
  /* padding-inline: 1rem; */
  margin-block-end: 1rem;
}

.menu-item:last-child {
  margin-block-end: 0;
}

.menu-item-name-price {
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
}

.menu-item-description {
  margin-block-end: 0;
  letter-spacing: 0.4px;
  font-style: oblique;
}

/* -------------------------
      @ Media 
------------------------- */
